<a href="https://colab.research.google.com/github/apmire3/curly-parakeet/blob/master/Allen_Mire_copy_data_R_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice session
===
Data Analysis in R

##Warming up: review workding folder basics
*  R works best if you have a dedicated folder for each separate project - the working folder. Put all data files in the working folder (or in subfolders).

Show current working folder:

In [0]:
getwd()

[1] "/content/data"

Create a new folder:

In [0]:
dir.create("data")

Go to the new folder:

In [0]:
setwd("data")

Show current working folder:

In [0]:
getwd()

[1] "/content/data"

##Case Study: 2019 Forbes Global list
*   The `forbes` dataset consists of 2000 rows (observations) on 8 variables describing companies’ rank, name, country, category, sales, profits, assets and market value. 
http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip
> * **`rank`** the ranking of the company
> * **`name`** the name of the company
> * **`country`** the country the company is situated in
> * **`category`** the products the company produces
> * **`sales`** the amount of sales of the company in billion USD
> * **`profits`** the profit of the company in billion USD
> * **`assets`** the assets of the company in billion USD
> * **`marketvalue`** the market value of the company in billion USD

# Step by step Data Analysis in R


1. Get data
2. Read data
3. Inspect data
4. Preprocess data (missing and dubious values, discard columns not needed etc.)
5. Analyze data
6. Generate report

## 1. Getting Data

Raw data 
* http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000_2019.csv.zip

* Choose one of the following to download the raw data file from internet, then upload to the colab
> * Manually download the file to the working directory 
> * or with R function `download.file()`

In [0]:
# Fill the blanks in the download command
download.file("http://www.hpc.lsu.edu/training/weekly-materials/Downloads/Forbes2000.csv.zip", "Forbes2000.csv.zip")
list.files() # List files in current folder

[1] "Forbes2000_2019.csv"     "Forbes2000_2019.csv.zip"
[3] "Forbes2000.csv.zip"

* Unzip with the `unzip()` function

In [0]:
# Fill the blanks in the unzip command
unzip("Forbes2000.csv.zip","Forbes2000.csv")
list.files()   # List files in current folder

[1] "Forbes2000_2019.csv"     "Forbes2000_2019.csv.zip"
[3] "Forbes2000.csv"          "Forbes2000.csv.zip"

##2. Reading data
* R understands many different data formats and has lots of ways of reading/writing them (csv, xml, excel, sql, json etc.)

>Input | Output | Purpose
>--- | --- | ---
>read.table (read.csv) | write.table (write.csv) | for reading/writing tabular data
>readLines | writeLines | for reading/writing lines of a text file
>source | dump | for reading/writing in R code files
>dget | dput | for reading/writing in R code files
>load | save | for reading in/saving workspaces

* ` read.csv()` is identical to `read.table()` except that the default separator is a comma.

In [0]:
# Fill the blank in the read.csv command
forbes <- read.csv("Forbes2000.csv",header=T,stringsAsFactors = FALSE,na.strings ="NA",sep=",")

##3. Inspecting data
* `class()`: check object class
* `dim()`: dimension of the data
* `head()`: print on screen the first few lines of data, may use n as argument
* `tail()`: print the last few lines of data

In [0]:
# Fill the blanks in the following commands
class(forbes)
dim(forbes)
head(forbes,n=50)

[1] "data.frame"

[1] 2000    8

   rank name                    country
1   1   Citigroup               United States
2   2   General Electric        United States
3   3   American Intl Group     United States
4   4   ExxonMobil              United States
5   5   BP                      United Kingdom
6   6   Bank of America         United States
7   7   HSBC Group              United Kingdom
8   8   Toyota Motor            Japan
9   9   Fannie Mae              United States
10 10   Wal-Mart Stores         United States
11 11   UBS                     Switzerland
12 12   ING Group               Netherlands
13 13   Royal Dutch/Shell Group Netherlands/ United Kingdom
14 14   Berkshire Hathaway      United States
15 15   JP Morgan Chase         United States
16 16   IBM                     United States
17 17   Total                   France
18 18   BNP Paribas             France
19 19   Royal Bank of Scotland  United Kingdom
20 20   Freddie Mac             United States
21 21   DaimlerChrysler         Germany
22 22   Altria Group            United States
23 23   ChevronTexaco           United States
24 24   Pfizer                  United States
25 25   Wells Fargo             United States
26 26   Verizon Commun          United States
27 27   Barclays                United Kingdom
28 28   Morgan Stanley          United States
29 29   General Motors          United States
30 30   Nippon Tel & Tel        Japan
31 31   Microsoft               United States
32 32   Nestle                  Switzerland
33 33   SBC Communications      United States
34 34   Deutsche Bank Group     Germany
35 35   Siemens Group           Germany
36 36   HBOS                    United Kingdom
37 37   ENI                     Italy
38 38   ConocoPhillips          United States
39 39   Banco Santander Central Spain
40 40   Merrill Lynch           United States
41 41   Wachovia                United States
42 42   Time Warner             United States
43 43   Hewlett-Packard         United States
44 44   Procter & Gamble        United States
45 45   Samsung Electronics     South Korea
46 46   Johnson & Johnson       United States
47 47   Lloyds TSB Group        United Kingdom
48 48   ABN-Amro Holding        Netherlands
49 49   Honda Motor             Japan
50 50   American Express        United States
   category                        sales  profits assets  marketvalue
1  Banking                          94.71 17.85   1264.03 255.30
2  Conglomerates                   134.19 15.59    626.93 328.54
3  Insurance                        76.66  6.46    647.66 194.87
4  Oil & gas operations            222.88 20.96    166.99 277.02
5  Oil & gas operations            232.57 10.27    177.57 173.54
6  Banking                          49.01 10.81    736.45 117.55
7  Banking                          44.33  6.66    757.60 177.96
8  Consumer durables               135.82  7.99    171.71 115.40
9  Diversified financials           53.13  6.48   1019.17  76.84
10 Retailing                       256.33  9.05    104.91 243.74
11 Diversified financials           48.95  5.15    853.23  85.07
12 Diversified financials           94.72  4.73    752.49  54.59
13 Oil & gas operations            133.50  8.40    100.72 163.45
14 Insurance                        56.22  6.95    172.24 141.14
15 Banking                          44.39  4.47    792.70  81.94
16 Technology hardware & equipment  89.13  7.58    104.46 171.54
17 Oil & gas operations            131.64  8.84     87.84 116.64
18 Banking                          47.74  4.73    745.09  59.29
19 Banking                          35.65  4.95    663.45  90.21
20 Diversified financials           46.26 10.09    752.25  44.25
21 Consumer durables               157.13  5.12    195.58  47.43
22 Food drink & tobacco             60.70  9.20     96.18 111.02
23 Oil & gas operations            112.94  7.43     82.36  92.49
24 Drugs & biotechnology            40.36  6.20    120.06 285.27
25 Banking                          31.80  6.20    387.80  97.53
26 Telecommunications services      67.75  2.57    165.97 103.97
27 Banking                          33.69  4.90    791.54  61.33
28 Diversified financials           33.00  3.64    580.63  64.81
29 Consumer durables               185.52  3.82    450.00  27.47
30 Telecommunications services      92.41  2.17    150.87  73.00
31 Software & services              34.27  8.88     85.94 287.02
32 Food drink & tobacco             64.56  5.48     62.15 106.55
33 Telecommunications services      39.16  5.97    100.17  82.93
34 Diversified financials           58.85  1.53    792.49  50.23
35 Conglomerates                    86.62  2.81     85.47  75.77
36 Banking                          32.68  3.09    571.76  52.87
37 Oil & gas operations             53.29  4.82     67.91  76.13
38 Oil & gas operations             90.49  4.83     81.95  46.72
39 Banking                          28.70  3.28    442.24  56.78
40 Diversified financials           26.64  3.47    485.77  57.52
41 Banking                          24.47  4.25    400.87  62.35
42 Media                            38.08  2.65    121.78  77.95
43 Technology hardware & equipment  73.06  2.54     74.71  70.20
44 Household & personal products    46.99  5.81     53.86 131.89
45 Semiconductors                   50.22  5.95     54.58  72.72
46 Drugs & biotechnology            40.01  6.74     46.66 160.96
47 Banking                          24.48  2.87    406.99  48.11
48 Banking                          23.64  3.98    704.95  39.29
49 Consumer durables                67.44  3.61     63.09  40.61
50 Diversified financials           24.17  3.00    175.00  68.89

In [0]:
# Fill the blank in the summary command
summary(forbes)

      rank            name             country            category
 Min.   :   1.0   Length:2000        Length:2000        Length:2000
 1st Qu.: 500.8   Class :character   Class :character   Class :character
 Median :1000.5   Mode  :character   Mode  :character   Mode  :character
 Mean   :1000.5
 3rd Qu.:1500.2
 Max.   :2000.0

     sales            profits             assets          marketvalue
 Min.   :  0.010   Min.   :-25.8300   Min.   :   0.270   Min.   :  0.02
 1st Qu.:  2.018   1st Qu.:  0.0800   1st Qu.:   4.025   1st Qu.:  2.72
 Median :  4.365   Median :  0.2000   Median :   9.345   Median :  5.15
 Mean   :  9.697   Mean   :  0.3811   Mean   :  34.042   Mean   : 11.88
 3rd Qu.:  9.547   3rd Qu.:  0.4400   3rd Qu.:  22.793   3rd Qu.: 10.60
 Max.   :256.330   Max.   : 20.9600   Max.   :1264.030   Max.   :328.54
                   NA's   :5

##4. Preprocess data

### 4.1 Preprocessing - missing values
* Missing values are denoted in R by NA or NaN for undefined mathematical operations.
> * `is.na(x)` is used to test objects "x" if there are NAs
> * Which one is NA? `which(is.na(x))`

In [0]:
Use one of the commands in the last session to

In [0]:
# Fill the blank to find out which ones are NAs on Sales
which(is.na(forbes$sales))

integer(0)

* more about missing value inspection
> * How many NAs? `table(is.na(x))`
> * list of observations with missing values on profits `x(is.na(x),)`

In [0]:
# Fill the blank to find out how many NAs on assets
table(is.na(forbes$assets))
# Fill the blank to find out observations with missing values on profits
table(is.na(forbes$profits))

FALSE
 2000

FALSE  TRUE
 1995     5

* remember many R functions also have a logical “`na.rm`” option
> * `na.rm=TRUE` means the NA values should be discarded

In [0]:
#Calculate the mean value of profits
mean(forbes$profits)  # will get NA
mean(forbes$profits, na.rm=T)

[1] NA

[1] 0.3811328

* **Note: Not all missing values are marked with “NA” in the raw data!**

* The simplest way to deal with the missing values is to remove them. 
> * If a column (variable) has a high percentage of the missing value, remove the whole column or just don’t use it for the analysis.
> * If a row (observation) has a missing value, remove the row with `na.omit()`. e.g.

In [0]:
# remove the observations with missing values, save it to object "forbes2"
forbes2  <- na.omit(forbes)
# find out the dimensions of forbes2
dim(forbes2)

[1] 1995    8

* Alternatively, the missing values can be replaced by basic statistics e.g. 
> * replace by mean

In [0]:
for(i in 1:nrow(forbes)){
  if(is.na(forbes$profits[i])==TRUE){
  forbes$profits[i] <- mean(forbes$profits, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$sales[i])==TRUE){
  forbes$sales[i] <- mean(forbes$sales, na.rm = TRUE)
  }
}
for(i in 1:nrow(forbes)){
  if(is.na(forbes$assets[i])==TRUE){
  forbes$assets[i] <- mean(forbes$assets, na.rm = TRUE)
  }
}
dim(forbes)

[1] 2000    8

###4.2 Preprocessing - subsetting data
* At most occasions we do not need all of the raw data
* There are a number of methods of extracting a subset of R objects
* Subsetting data can be done either by row or by column

#### 4.2.1 Subsetting by row: use conditions
Fill the blanks to find all companies with negative profit:

In [0]:
forbes[forbes$profits < 0,c("name","sales","profits","assets")]

     name                      sales profits assets
350  Allianz Worldwide         96.88  -1.23   851.24
354  Vodafone                  47.99 -15.51   256.28
364  Deutsche Telekom          56.40 -25.83   132.01
372  Credit Suisse Group       38.01  -2.40   683.44
374  France Telecom            57.99 -21.78   107.86
382  Generali Group            57.90  -0.79   239.21
396  Sumitomo Mitsui Financial 29.17  -3.94   868.42
397  E.ON                      37.95  -0.73   115.57
398  Mitsubishi Tokyo Finl     20.65  -1.37   827.48
402  Aviva                     52.46  -0.86   287.58
403  Mizuho Financial          24.40 -20.11  1115.90
405  Zurich Financial Services 47.46  -3.96   263.85
409  Telefsnica                29.84  -5.86    60.65
412  Telecom Italia            32.99  -0.81    85.03
415  Matsushita Electric Indl  62.62  -0.16    60.46
427  Suez Group                48.41  -0.91    88.39
431  HVB-HypoVereinsbank       40.52  -0.87   705.36
435  Vivendi Universal         32.05  -5.10    72.79
438  Swiss Re Group            27.53  -0.07   112.20
444  UFJ Holdings              17.16  -5.15   665.67
460  Philips Group             33.42  -3.37    32.71
466  Hartford Finl Service     17.73  -0.29   211.37
470  Legal & General Group     36.10  -0.29   167.94
482  EADS                      31.41  -0.31    47.82
488  Duke Energy               21.58  -1.16    54.99
494  Abbey National            15.28  -1.93   331.21
500  Commerzbank               22.43  -0.31   437.86
524  Fujitsu                   39.06  -1.03    33.77
529  Ahold                     70.57  -1.27    25.51
535  Loews                     16.10  -0.72    77.79
⋮    ⋮                         ⋮     ⋮       ⋮
1863 International Steel Group 3.15  -0.01    2.41
1865 Siam Commercial Bank      0.95  -0.29   15.67
1868 Woodside Petroleum        1.26  -0.05    2.81
1875 MyTravel Group            6.97  -1.52    2.55
1880 Nisshin Steel             3.49  -0.02    5.22
1885 Vishay Intertech          2.06  -0.11    4.50
1887 SPAR Handels              6.84  -0.40    1.64
1890 Sierra Pacific Res        2.81  -0.14    6.95
1891 Advantest                 0.83  -0.11    2.13
1892 Farmers Bank of China     0.58  -0.33   14.89
1897 Towa Bank                 0.30  -0.11   14.70
1905 Research In Motion        0.32  -0.16    0.86
1906 Nippon Steel Trading      6.56  -0.01    2.52
1910 Higashi-Nippon Bank       0.36  -0.06   14.24
1914 WMC Resources             0.82  -0.02    4.08
1927 FIBI Holding              0.66  -0.01   13.76
1928 Snow Brand Milk           6.15  -0.23    2.14
1929 JDS Uniphase              0.63  -0.28    2.45
1935 Agere Systems             1.92  -0.23    2.31
1949 Metro-Goldwyn-Mayer       1.96  -0.16    4.21
1950 Ehime Bank                0.35  -0.16   13.10
1958 Laurus                    5.75  -0.06    1.30
1966 Aquila                    2.38  -1.72    7.67
1980 Petroplus Intl            5.48  -0.03    1.50
1981 CSN-Cia Siderurgica       1.46  -0.06    4.22
1982 Sumitomo Forestry         5.46  -0.13    2.92
1983 Bharti Tele-Ventures      0.64  -0.04    1.91
1993 Sogecable                 1.03  -0.06    1.53
1994 Mobilcom                  2.16  -3.62    8.67
1997 Yokogawa Electric         2.78  -0.22    2.96

Fill the blanks to find the number of companies in each country with profits above 5 billion US dollars

In [0]:
forbes3 <- forbes[forbes$profits >= 5, c("name","country","profits")]
table(forbes3[,"country"])

                      China                      France
                          1                           1
                    Germany                       Japan
                          1                           1
Netherlands/ United Kingdom                 South Korea
                          1                           1
                Switzerland              United Kingdom
                          3                           3
              United States
                         20

Find three companies with largest sale volumne:

In [0]:
companies <- forbes$name  # or companies <- forbes[,"name"]
#Note to self: This works because order returns the INDEX of the rows so when
#you call order_sales later it gives the index of the companies to select 
order_sales <- order(forbes$sales, decreasing=T)
#company names
companies[order_sales[1:3]]
#company sales
head(sort(forbes$sales,decreasing=T),n=3)

[1] "Wal-Mart Stores" "BP"              "ExxonMobil"

[1] 256.33 232.57 222.88

Fill the blanks below to find first 50 companies in the Forbes dataset with the highest profit

In [0]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing=T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T),n=50)

 [1] "ExxonMobil"              "Citigroup"
 [3] "General Electric"        "Bank of America"
 [5] "BP"                      "Freddie Mac"
 [7] "Altria Group"            "Wal-Mart Stores"
 [9] "Microsoft"               "Total"
[11] "Royal Dutch/Shell Group" "Toyota Motor"
[13] "IBM"                     "ChevronTexaco"
[15] "Merck & Co"              "Berkshire Hathaway"
[17] "Johnson & Johnson"       "HSBC Group"
[19] "Fannie Mae"              "American Intl Group"
[21] "GlaxoSmithKline"         "Pfizer"
[23] "Wells Fargo"             "SBC Communications"
[25] "Samsung Electronics"     "Procter & Gamble"
[27] "PetroChina"              "Intel"
[29] "Nestle"                  "Novartis Group"
[31] "UBS"                     "DaimlerChrysler"
[33] "Royal Bank of Scotland"  "Barclays"
[35] "ConocoPhillips"          "ENI"
[37] "ING Group"               "BNP Paribas"
[39] "Nokia"                   "JP Morgan Chase"
[41] "Qwest Communications"    "Cisco Systems"
[43] "Coca-Cola"               "Wachovia"
[45] "BT Group"                "Nissan Motor"
[47] "Home Depot"              "ABN-Amro Holding"
[49] "China Mobile (HK) Hong"  "Washington Mutual"

 [1] 20.96 17.85 15.59 10.81 10.27 10.09  9.20  9.05  8.88  8.84  8.40  7.99
[13]  7.58  7.43  7.33  6.95  6.74  6.66  6.48  6.46  6.34  6.20  6.20  5.97
[25]  5.95  5.81  5.67  5.64  5.48  5.40  5.15  5.12  4.95  4.90  4.83  4.82
[37]  4.73  4.73  4.52  4.47  4.45  4.35  4.35  4.25  4.24  4.19  4.04  3.98
[49]  3.96  3.88

####4.2.2 Subsetting by row: use `subset()` function
Fill the blanks below to find all German companies with negative profit

In [0]:
#My solution
#Germanycomp <- subset(forbes, forbes$country == "Germany" & forbes$profits < 0)
#Germanycomp[  ,c("name","sales","profits","assets")]
Germanycomp <- subset(forbes, forbes$country == "Germany")
Germanycomp[Germanycomp$profits < 0  ,c("name","sales","profits","assets")]

     name                    sales profits assets
350  Allianz Worldwide       96.88  -1.23  851.24
364  Deutsche Telekom        56.40 -25.83  132.01
397  E.ON                    37.95  -0.73  115.57
431  HVB-HypoVereinsbank     40.52  -0.87  705.36
500  Commerzbank             22.43  -0.31  437.86
798  Infineon Technologies    7.18  -0.51   11.79
869  BHW Holding              7.46  -0.38  117.96
926  Bankgesellschaft Berlin  9.43  -0.74  182.69
1034 W&W-Wustenrot            7.57  -0.08   56.44
1187 mg technologies          8.54  -0.13    6.45
1477 Nurnberger Beteiligungs  3.00  -0.03   15.97
1887 SPAR Handels             6.84  -0.40    1.64
1994 Mobilcom                 2.16  -3.62    8.67

##Solution
Find all German companies with negative profit

In [0]:
Germanycomp <- subset(forbes, country == "Germany")
Germanycomp[Germanycomp$profits < 0,c("name","sales","profits","assets")]

Find the number of companies in each country with profits above 5 billion US dollars

In [0]:
forbes3 <- forbes[forbes$profits > 5,c("name","country","profits")]
table(forbes3[,"country"])

                      China                      France
                          1                           1
                    Germany                       Japan
                          1                           1
Netherlands/ United Kingdom                 South Korea
                          1                           1
                Switzerland              United Kingdom
                          3                           3
              United States
                         20

Find first 50 companies in the Forbes dataset with the highest profit

In [0]:
companies <- forbes$name   
order_profit <- order(forbes$profits, decreasing=T)   # order() returns the indices of the vector in sorted order
companies[order_profit[1:50]]
head(sort(forbes$profits,decreasing=T),n=50)

 [1] "ExxonMobil"              "Citigroup"
 [3] "General Electric"        "Bank of America"
 [5] "BP"                      "Freddie Mac"
 [7] "Altria Group"            "Wal-Mart Stores"
 [9] "Microsoft"               "Total"
[11] "Royal Dutch/Shell Group" "Toyota Motor"
[13] "IBM"                     "ChevronTexaco"
[15] "Merck & Co"              "Berkshire Hathaway"
[17] "Johnson & Johnson"       "HSBC Group"
[19] "Fannie Mae"              "American Intl Group"
[21] "GlaxoSmithKline"         "Pfizer"
[23] "Wells Fargo"             "SBC Communications"
[25] "Samsung Electronics"     "Procter & Gamble"
[27] "PetroChina"              "Intel"
[29] "Nestle"                  "Novartis Group"
[31] "UBS"                     "DaimlerChrysler"
[33] "Royal Bank of Scotland"  "Barclays"
[35] "ConocoPhillips"          "ENI"
[37] "ING Group"               "BNP Paribas"
[39] "Nokia"                   "JP Morgan Chase"
[41] "Qwest Communications"    "Cisco Systems"
[43] "Coca-Cola"               "Wachovia"
[45] "BT Group"                "Nissan Motor"
[47] "Home Depot"              "ABN-Amro Holding"
[49] "China Mobile (HK) Hong"  "Washington Mutual"

 [1] 20.96 17.85 15.59 10.81 10.27 10.09  9.20  9.05  8.88  8.84  8.40  7.99
[13]  7.58  7.43  7.33  6.95  6.74  6.66  6.48  6.46  6.34  6.20  6.20  5.97
[25]  5.95  5.81  5.67  5.64  5.48  5.40  5.15  5.12  4.95  4.90  4.83  4.82
[37]  4.73  4.73  4.52  4.47  4.45  4.35  4.35  4.25  4.24  4.19  4.04  3.98
[49]  3.96  3.88

####4.2.3 Subsetting by column
Create another dataframe with only numeric variables (i.e. only keep columns of sales, profits, assets and marketvalue)

In [0]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

# Fill the blank below
#use subset() function
forbes4 <- subset(forbes,select = c(sales, profits, assets, marketvalue))
str(forbes4)

#or simply use indexing
# Fill the blank below
forbes5 <- forbes[1,5:8]
str(forbes5)

'data.frame':	2000 obs. of  4 variables:
 $ sales  : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits: num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets : num  1264 627 648 167 178 ...
 $ mvalue : num  255 329 195 277 174 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...
'data.frame':	1 obs. of  4 variables:
 $ sales      : num 94.7
 $ profits    : num 17.9
 $ assets     : num 1264
 $ marketvalue: num 255

## Solution

In [0]:
#use data.frame function
forbes3 <- data.frame(sales=forbes$sales,profits=forbes$profits,
           assets=forbes$assets, mvalue=forbes$marketvalue)
str(forbes3)

#use subset() function
forbes4 <- subset(forbes,select=c(sales,profits,assets,marketvalue))
str(forbes4)

#or simply use indexing
forbes5 <- forbes[,c(5:8)]
str(forbes5)

'data.frame':	2000 obs. of  4 variables:
 $ sales  : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits: num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets : num  1264 627 648 167 178 ...
 $ mvalue : num  255 329 195 277 174 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...
'data.frame':	2000 obs. of  4 variables:
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...

### 4.3 Preprocessing – Factors
* factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables


Convert characters to (unordered) factors:

In [0]:
forbes$country<-factor(forbes$country)
str(forbes)

'data.frame':	2000 obs. of  8 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : chr  "Citigroup" "General Electric" "American Intl Group" "ExxonMobil" ...
 $ country    : Factor w/ 61 levels "Africa","Australia",..: 60 60 60 60 56 60 56 28 60 60 ...
 $ category   : chr  "Banking" "Conglomerates" "Insurance" "Oil & gas operations" ...
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...

* Small classes could be merged into a larger class. Why?
> * For better model performance. E.g. Classification and Regression Trees tend to split using the variables with many categories.
> * Actual needs
Some categories have just a few subjects

In [0]:
table(forbes$country)

                      Africa                    Australia
                           2                           37
   Australia/ United Kingdom                      Austria
                           2                            8
                     Bahamas                      Belgium
                           0                            9
                     Bermuda                       Brazil
                           0                            0
                      Canada               Cayman Islands
                          56                            0
                       Chile                        China
                           0                           25
              Czech Republic                      Denmark
                           2                           10
                     Finland                       France
                          11                           63
      France/ United Kingdom                      Germany
                           1                           65
                      Greece              Hong Kong/China
                          12                           20
                     Hungary                        India
                           2                           27
                   Indonesia                      Ireland
                           7                            8
                     Islands                       Israel
                           1                            8
                       Italy                        Japan
                          41                          316
                      Jordan                   Kong/China
                           1                            4
                       Korea                      Liberia
                           4                            1
                  Luxembourg                     Malaysia
                           2                           16
                      Mexico                  Netherlands
                          17                           28
 Netherlands/ United Kingdom                  New Zealand
                           2                            1
                      Norway                     Pakistan
                           8                            1
      Panama/ United Kingdom                         Peru
                           0                            0
                 Philippines                       Poland
                           2                            1
                    Portugal                       Russia
                           7                           12
                   Singapore                 South Africa
                          16                           15
                 South Korea                        Spain
                          45                           29
                      Sweden                  Switzerland
                          26                           34
                      Taiwan                     Thailand
                          35                            9
                      Turkey               United Kingdom
                          12                          137
   United Kingdom/ Australia  United Kingdom/ Netherlands
                           1                            1
United Kingdom/ South Africa                United States
                           1                          751
                   Venezuela
                           1

* Merge small classes into a larger classes

Merge all South American countries to "Venezuela"

In [0]:
forbes$country[(forbes$country=="Bahamas")|(forbes$country=="Bermuda")|(forbes$country=="Brazil")|(forbes$country=="Cayman Islands")|(forbes$country=="Chile")|(forbes$country=="Panama/ United Kingdom")|(forbes$country=="Peru")]<-"Venezuela"

Merge small classes into a larger classes

In [0]:
forbes$country[(forbes$country=="Austria")|(forbes$country=="Belgium")|(forbes$country=="Czech Republic")|(forbes$country=="Denmark")|(forbes$country=="Finland")|(forbes$country=="France")|(forbes$country=="Germany")|(forbes$country=="Greece")|(forbes$country=="Hungary")|(forbes$country=="Ireland")|(forbes$country=="Italy")|(forbes$country=="Luxembourg")|(forbes$country=="Netherlands")|(forbes$country=="Norway")|(forbes$country=="Poland")|(forbes$country=="Portugal")|(forbes$country=="Russia")|(forbes$country=="Spain")|(forbes$country=="Sweden")|(forbes$country=="Switzerland")|(forbes$country=="Turkey")|(forbes$country=="France/ United Kingdom")|(forbes$country=="United Kingdom/ Netherlands")|(forbes$country=="Netherlands/ United Kingdom")]<-"United Kingdom"
forbes$country[(forbes$country=="China")|(forbes$country=="Hong Kong/China")|(forbes$country=="Indonesia")|(forbes$country=="Japan")|(forbes$country=="Kong/China")|(forbes$country=="Korea")|(forbes$country=="Malaysia")|(forbes$country=="Philippines")|(forbes$country=="Singapore")|(forbes$country=="South Korea")|(forbes$country=="Taiwan")]<-"Thailand"
forbes$country[(forbes$country=="Africa")|(forbes$country=="Australia")|(forbes$country=="India")|(forbes$country=="Australia/ United Kingdom")|(forbes$country=="Islands")|(forbes$country=="Israel")|(forbes$country=="Jordan")|(forbes$country=="Liberia")|(forbes$country=="Mexico")|(forbes$country=="New Zealand")|(forbes$country=="Pakistan")|(forbes$country=="South Africa")|(forbes$country=="United Kingdom/ Australia")]<-"United Kingdom/ South Africa"

* Drop those levels with zero counts

Use `droplevels()` function:

In [0]:
forbes$country<-droplevels(forbes$country)

Now we can check the new frequency tables:

In [0]:
table(forbes$country)

                      Canada                     Thailand
                          56                          499
              United Kingdom United Kingdom/ South Africa
                         531                          115
               United States                    Venezuela
                         751                            1

* Rename each class

In [0]:
levels(forbes$country)<-c("Canada","East/Southeast Asia","Europe","Other","United States","Latin America")
levels(forbes$country)

[1] "Canada"              "East/Southeast Asia" "Europe"
[4] "Other"               "United States"       "Latin America"

###4.4 Export the cleaned dataset (Important!)
* Save forbes to Forbes2000_clean.csv

In [0]:
write.csv(forbes,"Forbes2000_2019_clean.csv",row.names=FALSE)
list.files()

[1] "Forbes2000_2019_clean.csv" "Forbes2000_2019.csv"
[3] "Forbes2000_2019.csv.zip"   "Forbes2000.csv"
[5] "Forbes2000.csv.zip"

## 5. Data analysis

###5.2 Import the cleaned dataset (Optional)
* Subsetting by column
Create a dataframe with the clean data

In [120]:
forbes_clean <- read.csv("Forbes2000_2019_clean.csv",header=T,stringsAsFactors = T,na.strings ="?",sep=",")
str(forbes_clean)

'data.frame':	2000 obs. of  8 variables:
 $ rank       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ name       : Factor w/ 2000 levels "Aareal Bank",..: 438 747 100 659 311 219 870 1827 663 1921 ...
 $ country    : Factor w/ 7 levels "Canada","East/Southeast Asia",..: 7 7 7 7 3 7 3 2 7 7 ...
 $ category   : Factor w/ 27 levels "Aerospace & defense",..: 2 6 16 19 19 2 2 8 9 20 ...
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...

###5.3 Extract Variables 
* Create another data frame with only numeric variables + country

Hint: Refer to 4.2.3 Subsetting by column

In [121]:
# Fill the blank below:
forbes_clean <- subset(forbes_clean, select = c("country", "sales", "profits","assets","marketvalue"))
str(forbes_clean)

'data.frame':	2000 obs. of  5 variables:
 $ country    : Factor w/ 7 levels "Canada","East/Southeast Asia",..: 7 7 7 7 3 7 3 2 7 7 ...
 $ sales      : num  94.7 134.2 76.7 222.9 232.6 ...
 $ profits    : num  17.85 15.59 6.46 20.96 10.27 ...
 $ assets     : num  1264 627 648 167 178 ...
 $ marketvalue: num  255 329 195 277 174 ...

###5.4 Training Set and Test Set
* Dataset could be randomly split into two parts: training set and test set.

In [0]:
set.seed(1) #set random seed reproducible
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean[indx[1:1600],]
forbes.test <- forbes_clean[indx[1601:1995],]

##Exercise 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [0]:
forbes_clean2 <- forbes_clean[,c(2:5)]  # create a new dataframe with only numeric variables included
set.seed(3) 
indx <- sample(1:1995,size=1995,replace=F)
forbes.train <- forbes_clean2[indx[1:1600],]
forbes.test <- forbes_clean2[indx[1601:1995],]
str(forbes.train)

'data.frame':	1600 obs. of  4 variables:
 $ sales      : num  2.86 4.72 9.91 1.16 3.95 ...
 $ profits    : num  0.5 0.05 -1.8 0.25 0.79 0.33 0.21 0.37 0.23 0.3 ...
 $ assets     : num  7.33 4.71 27.76 8.86 7.72 ...
 $ marketvalue: num  6.45 1.42 11.46 6.52 13.98 ...

In [0]:
lm <- lm(profits ~ . , data=forbes.train     )
summary(lm)

Call:
lm(formula = profits ~ ., data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-29.2532  -0.0266   0.1169   0.2190   9.1538

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.1211415  0.0439806  -2.754  0.00595 **
sales        0.0115652  0.0027422   4.217 2.61e-05 ***
assets      -0.0012144  0.0004237  -2.866  0.00421 **
marketvalue  0.0362598  0.0019938  18.186  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.537 on 1596 degrees of freedom
Multiple R-squared:  0.3164,	Adjusted R-squared:  0.3151
F-statistic: 246.3 on 3 and 1596 DF,  p-value: < 2.2e-16

2. Comment on the output. For instance:  Is there a relationship between the predictors and the response?

Yes

3. Which predictors appear to have a statistically significant relationship to the response?

Sales and Market Value have a strong correlation to profits while Assets have a weaker correlation while still being statistically significant.

4. What does the coefficient for the sales variable suggest?

### Bonus questions:

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [127]:
lm2 <- lm(profits ~(sales+assets+marketvalue)^3, data = forbes.train)
summary(lm2)

Call:
lm(formula = profits ~ (sales + assets + marketvalue)^3, data = forbes.train)

Residuals:
     Min       1Q   Median       3Q      Max
-28.6771  -0.0850   0.0129   0.1823   9.4978

Coefficients:
                           Estimate Std. Error t value Pr(>|t|)
(Intercept)               1.163e-01  5.252e-02   2.214 0.026970 *
sales                    -3.909e-04  4.089e-03  -0.096 0.923848
assets                   -5.699e-03  9.631e-04  -5.917 3.99e-09 ***
marketvalue               2.471e-02  2.832e-03   8.725  < 2e-16 ***
sales:assets              6.229e-05  1.740e-05   3.580 0.000354 ***
sales:marketvalue         1.205e-04  3.312e-05   3.638 0.000284 ***
assets:marketvalue        5.301e-05  1.853e-05   2.860 0.004293 **
sales:assets:marketvalue -3.190e-07  1.835e-07  -1.739 0.082249 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.492 on 1592 degrees of freedom
Multiple R-squared:  0.3571,	Adjusted R-squared:  0.3543
F-statistic: 126.3 on 7 and 1592 DF,  p-value: < 2.2e-16

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [128]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test)
lm.y <- forbes.test["marketvalue"]
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2)))
lm.rmse
lm.abs = abs(lm.y - lm.yhat)
lm.mad = (sum(lm.abs))/395 
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test)
lm2.y <- forbes.test["marketvalue"]
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/395 
lm2.mad

[1] 18.80021

[1] 9.644763

[1] 18.88461

[1] 9.657114

##Solution 
1. Use the `lm()` function to perform a multiple linear regression with profits as the response and all other numeric variables as the predictors. Use the `summary()` function to print the results.

In [0]:
lm <- lm(profits ~ ., data = forbes.train)
summary(lm)

5. Use the ^ symbols to fit linear regression models with interaction effects. Do any interactions appear to be statistically significant?

In [0]:
lm2 <- lm(profits ~ (sales + assets + marketvalue)^3, data = forbes.train)
summary(lm2)

6. Compare two models you just fitted with MAD and RMSE. Which model has better predictive results in terms of MAD and RMSE?

In [0]:
# MLR model without interactions 
lm.yhat <- predict(lm, newdata = forbes.test) 
lm.y <- forbes.test["profits"] 
lm.rmse <- sqrt(mean(data.matrix((lm.y - lm.yhat)^2)))
lm.rmse
lm.abs = abs(lm.y - lm.yhat) 
lm.mad = (sum(lm.abs))/395 
lm.mad

# MLR model with all interactions
lm2.yhat <- predict(lm2, newdata = forbes.test) 
lm2.y <- forbes.test["profits"] 
lm2.rmse <- sqrt(mean(data.matrix((lm2.y - lm2.yhat)^2)))
lm2.rmse
lm2.abs = abs(lm2.y - lm2.yhat) 
lm2.mad = (sum(lm2.abs))/395 
lm2.mad

[1] 1.178624

[1] 0.4273479

[1] 1.20672

[1] 0.430437